Repository kokuwaio/buildctl: changes, and which Woodpecker steps are due for each by the changed paths.
All: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

dockerhub:
  steps:
    metadata:
      image: kokuwaio/dockerhub-metadata
      settings:
        repository: kokuwaio/buildctl
        description-short: A WoodpeckerCI plugin for buildctl to build container images using a remote builtkitd instance.
        categories:
        - developer-tools
  ...

test:
  steps:
    pr:
      image: registry.kokuwa.io/kokuwaio/buildctl:ci-${CI_PIPELINE_NUMBER}
      commands: buildctl --version
      when:
        event: pull_request
    kokuwa.io:
      image: registry.kokuwa.io/kokuwaio/buildctl
      pull: true
      commands: buildctl --version
      when:
        event:
  ...

pr:
  image: registry.kokuwa.io/kokuwaio/buildctl:ci-${CI_PIPELINE_NUMBER}
  commands: buildctl --version

kokuwa.io:
  image: registry.kokuwa.io/kokuwaio/buildctl
  pull: true
  commands: buildctl --version

docker.io:
  image: docker.io/kokuwaio/buildctl
  pull: true
  commands: buildctl --version

ghcr.io:
  image: ghcr.io/kokuwaio/buildctl
  pull: true
  commands: buildctl --version

chore: fix renovate preset location
  renovate.json
Due: none

feat: read built timestamp from git
  Dockerfile
  README.md
  entrypoint.sh
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency jqlang/jq from jq-1.8.0 to jq-1.8.1
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency moby/buildkit from v0.23.1 to v0.23.2
  .woodpecker/build.yaml
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore: remove Github build, add woodpecker version tags
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .justfile
  .woodpecker/build.yaml
  .woodpecker/lint.yaml
  .yamllint.yaml
  README.md
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

feat: add flag to disable reproducible builds
  README.md
  entrypoint.sh
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

fix: build failed for not reproducible build
  entrypoint.sh
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash docker tag from 5.2.37 to 5.3.0
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

fix: use correct workspace if used with setting context
  entrypoint.sh
Due: test, pr, kokuwa.io, docker.io, ghcr.io

fix: use correct context for docker build
  entrypoint.sh
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.0 docker digest to 6a3e1c2
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash docker tag from 5.3.0 to 5.3.3
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore: aligned build files with other repositories
  .justfile
  .woodpecker/lint.yaml
  Dockerfile
  renovate.json
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/shellcheck docker tag from v0.10.0 to v0.11.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency moby/buildkit from v0.23.2 to v0.24.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/hadolint docker tag from v2.12.0 to v2.13.1
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.23.2 to v0.24.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/hadolint docker tag from v2.13.1 to v2.14.0
  .woodpecker/lint.yaml
Due: none

chore: add version to readme
  .justfile
  README.md
  renovate.json
Due: dockerhub

chore(deps): update dependency moby/buildkit from v0.24.0 to v0.25.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.24.0 to v0.25.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency moby/buildkit from v0.25.0 to v0.25.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.25.0 to v0.25.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.3 docker digest to a997515
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.3 docker digest to ae4668c
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency moby/buildkit from v0.25.1 to v0.25.2
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.25.1 to v0.25.2
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency moby/buildkit from v0.25.2 to v0.26.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.25.2 to v0.26.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency moby/buildkit from v0.26.0 to v0.26.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.26.0 to v0.26.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/renovate-config-validator docker tag from 41 to 42
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency moby/buildkit from v0.26.1 to v0.26.2
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.26.1 to v0.26.2
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: none

fix(lint): fix md issues after markdownlint update
  README.md
Due: dockerhub

chore(deps): update docker.io/library/bash docker tag from 5.3.3 to 5.3.8
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.8 docker digest to 84e9597
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.8 docker digest to 69f5b18
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash docker tag from 5.3.8 to 5.3.9
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

Path conditions:
  dockerhub: any of: .woodpecker/dockerhub.yaml, README.md
  test: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  pr: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  kokuwa.io: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  docker.io: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  ghcr.io: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
