Repository kokuwaio/buildctl: changes, and which Woodpecker steps are due for each by the changed paths.
All: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

.woodpecker/dockerhub.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/buildctl
  event: [manual, push]
  branch: main
  path: [.woodpecker/dockerhub.yaml, README.md]

steps:

  metadata:
    image: kokuwaio/dockerhub-metadata
    settings:
      repository: kokuwaio/buildctl
      description-short: A WoodpeckerCI plugin for buildctl to build container images using a remote builtkitd instance.
      categories: [developer-tools, integration-and-delivery]
      username: {from_secret: dockerhub_username}
      password: {from_secret: dockerhub_password}

.woodpecker/test.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/buildctl
  event: [manual, push, pull_request]
  branch: main
  path: [.woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh]

depends_on: [build]
matrix:
  PLATFORM: [amd64, arm64]
labels:
  platform: linux/${PLATFORM}

steps:

  pr:
    image: registry.kokuwa.io/kokuwaio/buildctl:ci-${CI_PIPELINE_NUMBER}
    commands: buildctl --version
    when:
      event: pull_request

  kokuwa.io: &version
    image: registry.kokuwa.io/kokuwaio/buildctl
    pull: true
    commands: buildctl --version
    when:
      event: [manual, push]
      branch: main

  docker.io:
    image: docker.io/kokuwaio/buildctl
    <<: *version

  ghcr.io:
    image: ghcr.io/kokuwaio/buildctl
    <<: *version

chore(deps): update kokuwaio/markdownlint docker tag from 0.46.0 to 0.47.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency moby/buildkit from v0.26.2 to v0.26.3
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.26.2 to v0.26.3
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

feat(just): add just file validator
  .justfile
  .woodpecker/lint.yaml
  README.md
Due: dockerhub

fix(alpine): add --no-script for git install
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash docker tag from 5.3.8 to 5.3.9
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.44.0 to 1.45.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 7437355
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 32ca165
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.45.0 to 1.46.0
  .justfile
  .woodpecker/lint.yaml
Due: none

Refactor build command in entrypoint.sh
  entrypoint.sh
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency moby/buildkit from v0.26.3 to v0.27.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/yamllint docker tag from v1.37.1 to v1.38.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.3 to v0.27.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

fix(buildctl): the `--addr` attribute belongs directly to buildctl and not the build command. see https://github.com/moby/buildkit?tab=readme-ov-file#building-a-dockerfile-with-buildctl
  entrypoint.sh
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 0260ac3
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.9 docker digest to e320b40
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency moby/buildkit from v0.27.0 to v0.27.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.27.0 to v0.27.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/renovate-config-validator docker tag from 42 to 43
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/markdownlint docker tag from 0.47.0 to 0.48.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency moby/buildkit from v0.27.1 to v0.28.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.27.1 to v0.28.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.46.0 to 1.47.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.47.0 to 1.47.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.47.1 to 1.48.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency moby/buildkit from v0.28.0 to v0.28.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.28.0 to v0.28.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency moby/buildkit from v0.28.1 to v0.29.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.48.0 to 1.48.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.28.1 to v0.29.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.48.1 to 1.49.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 80e26d4
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 38697a8
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.49.0 to 1.50.0
  .justfile
  .woodpecker/lint.yaml
Due: none

fix: setting for reproducable builds was wrong
  .justfile
  README.md
  renovate.json
Due: dockerhub

chore(deps): update kokuwaio/just docker tag from 1.50.0 to 1.51.0
  .justfile
  .woodpecker/lint.yaml
Due: none

fix: renovate regex for buildkit
  renovate.json
Due: none

chore(deps): update dependency moby/buildkit from v0.23.2 to v0.29.0
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency moby/buildkit from v0.29.0 to v0.30.0
  .woodpecker/build.yaml
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io
