Repository kokuwaio/buildctl: changes, and which Woodpecker steps are due for each by the changed paths.
All: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

dockerhub:
  steps:
    metadata:
      image: kokuwaio/dockerhub-metadata
      settings:
        repository: kokuwaio/buildctl
        description-short: A WoodpeckerCI plugin for buildctl to build container images using a remote builtkitd instance.
        categories:
        - developer-tools
  ...

test:
  steps:
    pr:
      image: registry.kokuwa.io/kokuwaio/buildctl:ci-${CI_PIPELINE_NUMBER}
      commands: buildctl --version
      when:
        event: pull_request
    kokuwa.io:
      image: registry.kokuwa.io/kokuwaio/buildctl
      pull: true
      commands: buildctl --version
      when:
        event:
  ...

pr:
  image: registry.kokuwa.io/kokuwaio/buildctl:ci-${CI_PIPELINE_NUMBER}
  commands: buildctl --version

kokuwa.io:
  image: registry.kokuwa.io/kokuwaio/buildctl
  pull: true
  commands: buildctl --version

docker.io:
  image: docker.io/kokuwaio/buildctl
  pull: true
  commands: buildctl --version

ghcr.io:
  image: ghcr.io/kokuwaio/buildctl
  pull: true
  commands: buildctl --version

chore(deps): update kokuwaio/buildctl docker tag from v0.29.0 to v0.30.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash docker tag from 5.3.9 to 5.3.12
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.51.0 to 1.52.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/bash docker tag from 5.3.12 to 5.3.15
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.15 docker digest to 66b753f
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.15 docker digest to 27639cc
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.15 docker digest to 6d8f512
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.15 docker digest to a19c811
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency moby/buildkit from v0.30.0 to v0.31.0
  .woodpecker/build.yaml
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.52.0 to 1.53.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.30.0 to v0.31.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.48.0 to 0.49.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.53.0 to 1.54.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency moby/buildkit from v0.31.0 to v0.31.1
  .woodpecker/build.yaml
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.31.0 to v0.31.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

feat: remove git and changed default of `source-date-epoch` to 0
  Dockerfile
  README.md
  entrypoint.sh
  renovate.json
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency jqlang/jq from jq-1.8.1 to jq-1.8.2
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.54.0 to 1.55.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.55.0 to 1.55.1
  .justfile
  .woodpecker/lint.yaml
Due: none

fix: output for docker used wrong timestamp
  entrypoint.sh
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.55.1 to 1.56.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency moby/buildkit from v0.31.1 to v0.31.2
  .woodpecker/build.yaml
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.56.0 to 1.57.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.31.1 to v0.31.2
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.49.0 to 0.49.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency moby/buildkit from v0.31.2 to v0.32.0
  .woodpecker/build.yaml
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/renovate-config-validator docker tag from 43 to 44
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.31.2 to v0.32.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency moby/buildkit from v0.32.0 to v0.32.1
  .woodpecker/build.yaml
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.32.0 to v0.32.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.57.0 to 1.58.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency moby/buildkit from v0.32.1 to v0.32.2
  .woodpecker/build.yaml
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.32.1 to v0.32.2
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/hadolint docker tag from v2.14.0 to v2.15.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency moby/buildkit from v0.32.2 to v0.33.0
  .woodpecker/build.yaml
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.32.2 to v0.33.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash docker tag from 5.3.15 to 5.3.20
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.20 docker digest to d0c3166
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.20 docker digest to 17bcd6f
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.20 docker digest to bfa60b7
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

Path conditions:
  dockerhub: any of: .woodpecker/dockerhub.yaml, README.md
  test: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  pr: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  kokuwa.io: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  docker.io: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  ghcr.io: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
